<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Succesfully placed an order:</h1>
    <p style="color: blue">
      Action: <%= @action %>
    </p>    
    <p>
      Price: <%= @price %>
    </p>    
    <p>
      Volume: <%= @volume %>
    </p>

  </body>
</html>